.grid {
  width: 100%;
  padding: 0 48px;
}

.grid img {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.grid img:hover {
  opacity: 0.9;
}

@media (max-width: 640px) {
  .grid {
    padding: 0 24px;
  }
}
